cassandra:
  series: 37x

  conf:
    dc: x
    rack: y
    cluster_name: Test Cluster
    authenticator: PasswordAuthenticator
    listen_address: {{ grains['ip4_interfaces']['eth0'][0] }}
    rpc_address: {{ grains['ip4_interfaces']['eth0'][0] }}
    broadcast_address: {{ grains['ip4_interfaces']['eth0'][0] }}
    seeds:
      - {{ grains['ip4_interfaces']['eth0'][0] }}
    endpoint_snitch: SimpleSnitch

